
<body>
  <% if restaurant.reflink != "" %>
    <h4><a href="<%= restaurant.reflink %>"><%= restaurant.name %></a></h4>
  <% else %>
    <h4><%= restaurant.name %></h4>
  <% end -%>
  <ul>
    <% if restaurant.user == current_user -%>
      <% @rating = Rate.find_by_rater_id_and_rateable_id_and_dimension(current_user.id, restaurant.id, 'score') %>
      <li>Score: <%= @rating ? @rating.stars : 0%>
      <% overall_avg = restaurant.overall_avg(current_user)%>
      <%#= rating_for_user restaurant, current_user, "score", enable_half: 'true', half_show: 'true', star: '5', cancel: 'false' %>
    <% else %>
      <% cached_average = restaurant.average 'score'
    avg = cached_average ? cached_average.avg : 0 %>
    <li>Score: <%= avg%>
      <%#= rating_for restaurant, 'score', enable_half: 'true', half_show: 'true', star: '5' %>
    <% end -%>
    <li><%= restaurant.address %>
    <li><%= restaurant.openhour%>
  </ul>
  <%= link_to 'Show', restaurant %>
  <% if restaurant.user == current_user -%>
    <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
    <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</body>


