<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Stars:</strong>
  <% if @restaurant.user == current_user -%>
    <td><%= rating_for_user @restaurant, current_user, "score", enable_half: 'true', half_show: 'true', star: '5', cancel: 'false' %></td>
  <% else %>
    <td><%= rating_for @restaurant, 'score', enable_half: 'true', half_show: 'true', star: '5' %></td>
  <% end -%>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Openhour:</strong>
  <%= @restaurant.openhour %>
</p>

<p>
  <strong>Reflink:</strong>
  <%= @restaurant.reflink %>
</p>

<p>
  <strong>Tags:</strong>
  <%= raw @restaurant.tag_list.map {|t| link_to t, tag_path(t)}.join(',')  %>
  <%#= @restaurant.tag_list %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
